{% extends 'components/main.html.twig' %}

{% block title %}Datos pago{% endblock %}

{% block content %}

  <div class="col-flex-xs-12 col-flex-sm-8 col-flex-md-8 col-flex-lg-8">

    <form method="post">
      <input type="hidden" id="id_cliente" name="id_cliente" value="{{id_cliente}}">
      <div class="mod-purchasing-process">
        <h1 class="title-page">
          <span class="font-md">
            Introduce la dirección para la entrega
          </span>
        </h1>

        <div class="boxcontainer-input" id="capa_direccion">

          <!--Nuevo modulo Normalizador-->
          <div class="form-group">
            <!-- <fieldset class="sin-cobertura"> -->
            <label class="col-flex-xs-6 col-flex-sm-4 col-flex-md-4 col-flex-lg-4 control-label font-sm text-right form_tex_left" for="sa_phone">

              <span class="color-orange ">*</span></label>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="" id="form_antiguo">
              <!-- formulario antiguo -->
              <div class="row inputs-valida" data-id="entrada">

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  <div class="form-group">
                    <input type="text" class="form-control input-md" placeholder="Nombre de la vía" name="calle" id="direccion" value="{{calle}}">
                    <p class="msg-error">El campo está vacío</p>
                  </div>
                </div>

              </div>
              <div class="row inputs-valida" data-id="entrada">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="form-group">
                    <input type="text" class="form-control input-md" name="codigo_postal" placeholder="Cód. Postal" id="codigo-postal" maxlength="5" value="{{cpostal}}">
                    <p class="msg-error">El campo está vacío</p>
                  </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  <div class="form-group">
                    <input type="text" class="form-control input-md" placeholder="Introduce tu localidad" name="localidad" id="localidad" value="{{localidad}}">
                    <p class="msg-error">El campo está vacío</p>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label class="custom-select">
                      <select class="form-control" name="provincia" id="provincia">
                        <option value="">Provincia</option>
                        {% for provincia in provincias%}
                          {% if provincia == selected %}
                            <option value="{{provincia}}" selected="selected">{{provincia}}</option>
                          {% else %}
                            <option value="{{provincia}}">{{provincia}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </label>
                    <p class="msg-error">Selecciona</p>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
      <div class="boxcontainer-input boxcontainer-input-33">
        {% if message is defined%}
          <div class="boxcontainer-input-group bg-red">
            <h3>{{message}}</h3>
          </div>
        {% endif %}
      </div>
      {{include('components/_botones.html.twig')}}

    </form>

    <img src="{{ asset('img/ilustracion-promo-producto-3.svg')}}" class="img-responsive" alt="img promo" title="Image Promo">

  </div>

{% endblock %}

{% block javascript_modules %}
  {{  parent() }}
  <script src="{{ asset('js/paso3.js') }}"></script>

{% endblock %}
