<input type="hidden" id="id_cliente" name="id_cliente" value="{{id_cliente}}">
<div class="boxcontainer-input boxcontainer-input-33">
  <div class="boxcontainer-input-group">
    <div class="form-group">
      <label class="control-label" for="firstname">Nombre
        <span class="boxcontainer-input-group-label-mandatory">*</span></label>
      <input id="firstname" name="firstname" type="text" placeholder="Dinos tu nombre" class="form-control" value="{{name}}">
      <p class="msg-error">
        <span class="icon-moon icon-error-form-field"></span>
        <span class="txt">Elija una opción</span>
      </p>
    </div>
  </div>
  <div class="boxcontainer-input-group">
    <div class="form-group">
      <label class="control-label" for="lastname">Apellido 1
        <span class="boxcontainer-input-group-label-mandatory">*</span></label>
      <input id="lastname" name="lastname" type="text" placeholder="Dinos tu primer apellido" class="form-control" value="{{lastname}}">
      <p class="msg-error">
        <span class="icon-moon icon-error-form-field"></span>
        <span class="txt">Elija una opción</span>
      </p>
    </div>
  </div>
  <div class="boxcontainer-input-group">
    <div class="form-group">
      <label class="control-label boxcontainer-input-group-label-hidden" for="lastname2">Apellido 2
      </label>
      <input id="lastname2" name="lastname2" type="text" placeholder="Dinos tu segundo apellido" class="form-control" value="{{lastname2}}">
      <p class="msg-error">
        <span class="icon-moon icon-error-form-field"></span>
        <span class="txt">Elija una opción</span>
      </p>
    </div>
  </div>
  <div class="boxcontainer-input-group">
    <div class="form-group">
      <label class="control-label" for="birthdate">Fecha nacimiento
        <span class="boxcontainer-input-group-label-mandatory">*</span></label>
      <input id="birthdate" name="birthdate" type="text" placeholder="Dinos tu fecha de nacimiento" class="form-control" value="{{birthdate}}">
      <p class="msg-error">
        <span class="icon-moon icon-error-form-field"></span>
        <span class="txt">Elija una opción</span>
      </p>
    </div>
  </div>
  <div class="boxcontainer-input-group">
    <div class="form-group">
      <label class="control-label" for="email">Email de contacto
        <span class="boxcontainer-input-group-label-mandatory">*</span></label>
      <input id="email" name="email" type="text" placeholder="Dinos tu email" class="form-control" value="{{email}}">
      <p class="msg-error">
        <span class="icon-moon icon-error-form-field"></span>
        <span class="txt">Elija una opción</span>
      </p>
    </div>
  </div>
  <div class="boxcontainer-input-group">
    <div class="form-group">
      <label class="control-label" for="mobile">Teléfono de contacto
        <span class="boxcontainer-input-group-label-mandatory">*</span></label>
      <input id="mobile" name="mobile" type="text" placeholder="Dinos tu teléfono" class="form-control" value="{{mobile}}">
      <p class="msg-error">
        <span class="icon-moon icon-error-form-field"></span>
        <span class="txt">Elija una opción</span>
      </p>
    </div>
  </div>
  <div class="boxcontainer-input-group">
    <div class="form-group">
      <label class="control-label" for="identidad">Documento de identidad</label>
      <div class="custom-select">
        <select id="identidad" name="identidad" class="form-control">
          <option value="NIF">NIF</option>
          <option value="NIE">NIE</option>
          <option value="PASAPORTE">PASAPORTE</option>
        </select>
      </div>
      <p class="msg-error">
        <span class="icon-moon icon-error-form-field"></span>
        <span class="txt">Elija una opción</span>
      </p>
    </div>
  </div>
  <div class="boxcontainer-input-group">

    <div class="form-group">
      <label class="control-label" for="numberdoc">NIF/NIE/Pasaporte
        <span class="boxcontainer-input-group-label-mandatory">*</span></label>
      <input id="numberdoc" name="numberdoc" type="text" placeholder="Dinos tu NIF" class="form-control" value="{{numberdoc}}">
      <p class="msg-error">
        <span class="icon-moon icon-error-form-field"></span>
        <span class="txt">Elija una opción</span>
      </p>
    </div>
  </div>
</div>
<div class="boxcontainer-input boxcontainer-input-33">
  {% if message is defined%}
    <div class="boxcontainer-input-group bg-red">
      <h3>{{message}}</h3>
    </div>
  {% endif %}
</div>
