<div class="box bg-lightgrey">
  <div class="container-flex">
    <div class="col-flex-xs-12 col-flex-sm-12 col-flex-md-12 col-flex-lg-12">
      <div class="step-form-counter bg-lightgrey">
        <div class="step-container">
          {% if productos is defined%}
            {% for producto in productos %}

              <div class="esc-producto color-darkgrey" id="prd_{{producto.id}}" data-sel="{{producto.id}}" data-price="{{producto.precioPromo}}">
                <div class="prod-number">
                  <span class="producto" id="name_prd_{{producto.id}}">{{producto.nombre}}</span>
                </div>
                <span class="step-title">Precio promo:
                  {{producto.precioPromo}}€</span>
                <span class="step-title font-small">Después:
                  {{producto.precioBase}}€</span>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
